<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Websocket Chat</title>
</head>
<body>
    <h1>Websocket Chat</h1>
    <p>Connections: <span id="connections"></span></p>
    <iframe width="100%" height="400px" id="chatbox" tabindex="-1"></iframe>
    <form id="form">
        <input id="text" type="text" name="text" size="80" maxlength="256" placeholder="Send a message" autocomplete="off">
        <button type="submit" id="send">Send</button>
    </form>
    <script>ß
        var exampleSocket = new WebSocket("ws://localhost:8080/chat");
        exampleSocket.onopen = function (event) {
            console.log('websocket open!', event);
        };
        exampleSocket.onclose = function (event) {
            console.log('websocket closed!', event);
        };

        exampleSocket.onmessage = receive;

        function receive(event) {
            console.log("received event", event);
            var msg = JSON.parse(event.data);
            var body = msg.body;
            
            switch (msg.type) {
                case "count":
                    var connections = document.getElementById("connections");
                    connections.innerText = body.count.toString();
                    break;
                case "message":
                    var text = "(" + body.time + ") <b>" + body.name + "</b>: " + body.text + "<br>";
                    var chatbox = document.getElementById("chatbox");
                    chatbox.contentDocument.write(text);
                    // console.log('scrolling to', chatbox.scrollHeight);
                    chatbox.contentWindow.scrollBy(0, 18)
                    break;
                default:
                    break;
            }
        }

        form = document.getElementById("form")
        form.addEventListener('submit', event => {
            event.preventDefault();
            send();
        });

        function send() {
            var text = document.getElementById("text").value;
            if (text) {
                var msg = {
                    type: "message",
                    body: {
                        text: document.getElementById("text").value,
                        name: "admin",
                        time: new Date().toLocaleTimeString()
                    }
                };

                console.log("sending message", JSON.stringify(msg));
                exampleSocket.send(JSON.stringify(msg));

                document.getElementById("text").value = "";
            }
        }
    </script>
</body>
</html>